<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cap6-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>337CA23B26311DBA00A28980</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>337CA24F26311DBB00A28980</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>337CA25A26311DBB00A28980</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
